<footer id = "footer">
    
<span>&copy Coding Ninjas.All Rights Reserved. </span>

<span>
    <a href="/">Home</a>
</span>

<span>
    <a href="/users/Profile">Profile</a>
</span>

<span>
    <a href="/users/sign-in">Sign In</a>
</span>

</footer>