<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>



    <h1>
        <%= title %>
    </h1>


    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here...."></textarea>
            <input type="submit" value="post">
        </form>

        <div class="posts-list-container">
            <ul>
                <% for(post of posts) { %>
                    <li>

                        <p>
                            <%= post.content %>

                                <br>

                                <small>
                                    <%= post.user.name %>
                                </small>
                        </p>

                    </li>

                    <%} %>

            </ul>
        </div>
    </section>

</body>

</html>