#footer{
    height:30px;
    padding-top: 15px;
    background-color: black;
    color: white;

    span{

        a{
            color: rgb(54, 240, 253);
            text-decoration: none;
            margin: 5px;
        }

    }
}