body{
    background-color:lightgray ;
   
   
    
}
#home-container{
    display:flex;
justify-content: space-between;
    #feed-posts{
        width: 70px;
        padding: 10px;
    }

    #user-friends{
        width: 30%;
        padding: 10px;
        border-left:1px solid red ;
        height: 100%;
    }
}